.inputCategoria {
    width: 310px;
    height: 550px;
    border-radius: 5px;
    gap: 20px;
    margin: 5px;
    flex-direction: column;
}

#inputAgregarCategoria {
    display: none;
}

.cancelar-categoria {
    background-color: grey;
}

.guardar-categoria, .cancelar-categoria {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
}

.guardar-categoria {
    background-color: dodgerblue;
    margin-left: auto;
}

.guardar-categoria:hover {
    background-color: deepskyblue;
}